@import 'tailwindcss';
html,body{
  @apply h-full w-full overflow-x-hidden m-0 p-0;
}
.container{
  @apply bg-gray-100 flex justify-center items-center min-h-screen flex-col w-full;
}

/* @media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

.prompt::-webkit-scrollbar {
    width: 5px;
}
 
.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
} */